root = true

[*.*]
insert_final_newline = true
max_line_length = unset
trim_trailing_whitespace = true

[*.json]
indent_size = tab
indent_style = space

[{tsconfig.json,tsconfig.*.json}]
ij_json_property_alignment = align_on_colon
ij_json_array_wrapping = off
ij_json_object_wrapping = off
ij_json_keep_indents_on_empty_lines = true
ij_json_keep_line_breaks = true
ij_any_align_group_field_declarations = true
ij_any_keep_line_breaks = true
ij_any_keep_indents_on_empty_lines = true
ij_any_keep_first_column_comment = true