node-version                    = 22.14.0
use-node-version                = 22.14.0
engine-strict                   = true
package-manager-strict-version  = true
manage-package-manager-versions = true
virtual-store-dir-max-length    = 60
auto-install-peers              = true
save-prefix                     = ""
save-exact                      = true
git-branch-lockfile             = true
save-workspace-protocol         = true
shared-workspace-lockfile       = true
link-workspace-packages         = true
