engine-strict = true
node-version  = 20.12.2
node-options  = --enable-source-maps

save-prefix     = ""
save-exact      = true
strict-peer-dep = true

package-manager-strict-version              = true
manage-package-manager-versions             = true
git-branch-lockfile                         = true
merge-git-branch-lockfiles-branch-pattern[] = main

link-workspace-packages   = true
shared-workspace-lockfile = true
save-workspace-protocol   = true
