name: pr

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install
      - run: pnpm -r types
      - run: pnpm -r lint

  validate:
    name: validate
    needs: [verify]
    runs-on: ubuntu-latest
    env:
      DFFP_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      DFFP_KEY: ${{ secrets.AWS_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: tj-actions/changed-files@v45
        id: changed
        with:
          files: |
            terraform/**
            *.tf

      - run: echo "${{ steps.changed.outputs.any_changed == 'true' }}"
      - if: ${{ steps.changed.outputs.any_changed == 'true' }}
        run: echo "todo - terraform CICD credentials"
      - if: ${{ steps.changed.outputs.any_changed == 'true' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: 'us-east-1'
          aws-access-key-id: ${{ env.DFFP_KEY_ID }}
          aws-secret-access-key: ${{ env.DFFP_KEY }}
      - if: ${{ steps.changed.outputs.any_changed == 'true' }}
        run: terraform -chdir terraform workspace select qual
      - if: ${{ steps.changed.outputs.any_changed == 'true' }}
        run: terraform -chdir terraform init
      - if: ${{ steps.changed.outputs.any_changed == 'true' }}
        run: terraform -chdir terraform validate
